body {
    font-family: monospace;
    background: #222;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.mcdu {
    position: relative;
    aspect-ratio: 971 / 1500;

    /* scale to fit viewport without overflowing */
    width: min(100vw, 100vh * (971 / 1500));
    height: auto;

    background-image: url('../assets/a320_mcdu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;  /* exactly match div */}

.keypad {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 13% 13% 13% 13% 13% 13%;
    grid-column-gap: 6.2%;
    grid-row-gap: 4.5%;
}

.keypad--numeric {
    display: none;
}

.keypad--alpha {
    position: relative;
    top: 62.7%;
    left: 41%;
    width: 46.9%;
    height: 34.7%;

    button {
        width: 100%;
        height: 100%;
        border-radius: 10%;
    }
}

.mcdu button {
    background: transparent;
    border: 1px solid transparent;
    color: transparent;
    font-size: 16px;
    cursor: pointer;
    padding: 0;

    &:active {
        opacity: 50%;
        background: #303030;
    }
}
